$o-enterprise-color: #0E837C !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #1d9189 !default;
$o-action-accent: $o-brand-primary !default;

$u-menuitem-hover: #0E837C !default;
$u-menuitem-hover-bg: #e2f0ee !default;