$o-enterprise-color: #665f99 !default;

$o-brand-odoo: $o-enterprise-color !default;
$o-brand-primary: $o-brand-odoo !default;

$o-action: #6e67a0 !default;
$o-action-accent: $o-brand-primary !default;

$u-menuitem-hover: #665bb9 !default;
$u-menuitem-hover-bg: #f2f0fc !default;