$o-brand-primary: #207096 !default;
$o-enterprise-color: $o-brand-primary !default;

$o-action: #267296 !default;
$o-action-accent: $o-brand-primary !default;

$o-theme-text-colors: (
    "primary": #7ea9c2,
    ) !default;