<?xml version="1.0" encoding="utf-8"?>
<odoo>

    <menuitem id="menu_fsc_sales_root"
              name="Sales Planning"
              parent="fsc_audit_log.menu_fsc_root"
              sequence="15"/>

    <menuitem id="menu_catering_menu_plan"
              name="Weekly Menu Plans"
              parent="menu_fsc_sales_root"
              action="catering_menu_plan_action"
              sequence="10"/>

    <menuitem id="menu_catering_customer_recipe"
              name="Customer Recipes"
              parent="menu_fsc_sales_root"
              action="catering_customer_recipe_action"
              sequence="20"
              groups="fsc_sales.group_recipe_viewer,fsc_sales.group_planning_manager"/>

    <menuitem id="menu_catering_site"
              name="Sites / Kitchens"
              parent="menu_fsc_sales_root"
              action="catering_site_action"
              sequence="30"/>

    <menuitem id="menu_catering_meal_shift"
              name="Meal Shifts"
              parent="fsc_audit_log.menu_fsc_config_root"
              action="catering_meal_shift_action"
              sequence="20"/>

</odoo>
